	body {
		counter-reset: section;
	}
	h2::before {
		counter-increment: section;
		content: counter(section) ". ";
	}
	h1 {
		text-align: center;
	}
	h2 {
		font-size: 120%;
		border-bottom: 1px solid #000000;
		display: inline;
	}
	h3 {
		font-size: 100%;
		border-bottom: 1px solid #000000;
		display: inline;
		font-style: italic;
	}

	#outputbox {
		counter-reset: oulines;
	}
	.showlineHTML::after {
		counter-increment: oulines;
		content: " @ " counter(oulines);
	}

	.copylineTA {
		display: none;
		position: absolute;
		left: -10000px;
	}
	
	.showlineHTML, .previewHTML {
		font-size: x-small;
		text-align: right;
		padding: 0px;
		margin: 0px;
	}


	@media screen {

        	.wrapper {
            		display: grid;
            		grid-template-rows: 1fr 0fr 0fr;
			grid-template-columns: 1.5fr 1fr;
			gap: 10px;
            		height: 98vh;
            		overflow: hidden;
        	}

        	.credit {
            		grid-column: 1;
			grid-row: 3;
            		padding: 10px;
            		font-size: small;
			text-align: center;
        	}

		.files {
			grid-column: 2;
			grid-row: 3;
			padding: 0px;
			font-size: small;
			text-align: center;
		}

        	.input {
            		box-sizing:border-box;
            		padding: 10px;
            		grid-column: 1;
			grid-row: 2;
			height: fit-content;
        	}

		.copyStuff {
  			background-color: #ffffff;
  			border: none;
  			padding: 0px;
  			text-align: center;
  			text-decoration: underline;
  			display: inline-block;
			font-size: x-small;
		}

        	#outputarea {
            		padding: 10px;
            		background-color: #ffffff;
            		font-size: x-large;
            		overflow: scroll;
			grid-column: 1 / 3;
			grid-row: 1;
		}

		#CheatSheet {
			padding: 3px;
			grid-column: 2;
			grid-row: 2;
			height: fit-content;
			font-size: x-small;
		}

		#previewbox, .outputline {
			padding: 3px;
			margin: 3px 0px;
			background-color: #f1f1f1;
            		border: 1px solid #e4e4e4;
            		white-space: pre-wrap;
		}

		#printheader {
			display: none;
		}

		#btnLoad, #btnSave {
			font-size: small;
		}

		#loadfrom {
			display: none;
		}
        }

	@media print {
		.wrapper {
			display: block;
		}

		.copyStuff {
			display: none;
		}

		.credit {
			display: none;
		}

		.input {
			display: none;
		}

		.files {
			display: none;
		}

		#outputbox {
			padding: 10px;
		}

		#CheatSheet {
			display: none;
		}

		.outputline{
			border-right: 5px solid gray;
			margin: 0px;
			padding: 0px;
			white-space: pre-wrap;
		}

		#previewbox {
			display: none;
		}
		
		.previewHTML{
			display: none;
		}

		#printheader {
			display: block;
			text-align: right;
			padding: 10px;
			border: 3px solid #dddddd;
			border-radius: 8px;
			font-family: sans-serif;
			font-size: small;
		}
		#timestamp {
			text-align: left;
		}
	}


