

u {
    background-color: #CCFA7D;
}

.mathorig {
    font-family: monospace;
    font-size: 75%;
}

mathpre {
    white-space: pre-wrap;
    background-color: #FEDCFE;
}

    @media screen {
        #tools {
            width: 160px;
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #18453b;
            color: white;
            font-size: small;
            padding: 10px; 
	    font-family: sans-serif;
        }
        button {
            font-size: x-small;
	    background-color: #008208;
	    color: white;
	    border: 1px solid white;
	    margin: 2px;
        }
        #main {
            margin-left: 190px;
            font-size: 2.5vw;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 20px;
	    font-family: 'Vollkorn', serif;
        }
        #theboard>p {
            margin-block-start: 0.7em;
            margin-block-end: 0.7em;
	    border-left: 5px solid white;
        }
	#theboard>p:hover{
		border-left: 5px solid red;
		background-color: #E3E0FF;
	}
    }

	@media print {
        #tools {
            display: none;
        }
    }


